$color-white: hsl(0, 100%, 100%);
$color-grey-500: hsl(0, 0%, 63%);
$color-grey-800: hsl(0, 0%, 27%);
$color-black: hsl(0, 0%, 0%);

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$transition-base: 0.3s ease;